services:
- type: web
  name: next-js
  env: node
  plan: starter
  buildCommand: npm run build
  startCommand: npm run start
  autoDeploy: false 
  envVars:
  - key: NODE_ENV
    value: productio
  - key: NEXT_BUILDER
    value: webpack